<div class="flex justify-center items-center h-[calc(100vh-64px)]">
    <form
      nz-form
      [formGroup]="validateForm"
      class="w-96 pt-10 pl-10 pr-10 pb-10 border-solid border-blue-600 border-2 rounded-sm "
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="username"
              placeholder="Enter your username"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="w-full mb-4" [nzType]="'primary'">Log in</button>
    </form>
  </div>